/*В текущей рализации предполагается, что высота слайдера регулируется количеством слайдов
и их контентом, что подходит для случая использования известного и ограниченного числа слайдов.
Так же можно добавить неограниченное число слайдов в разметку, тогда в правой колонке будет видно 4 слайда и появитяс скролл.
Для этого необходимо по стилям снять комментарии с свойств, помеченных "//2".
*/

@font-face {
    font-family: 'Geometria';
    src: url('//static.bcs.ru/vacancy/web/fonts/324CAB_0_0.eot');
    src: url('//static.bcs.ru/vacancy/web/fonts/324CAB_0_0.eot?#iefix') format('embedded-opentype'),
    url('//static.bcs.ru/vacancy/web/fonts/324CAB_0_0.woff2') format('woff2'),
    url('//static.bcs.ru/vacancy/web/fonts/324CAB_0_0.woff') format('woff'),
    url('//static.bcs.ru/vacancy/web/fonts/324CAB_0_0.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Geometria';
    src: url('//static.bcs.ru/vacancy/web/fonts/324CBF_1_0.eot');
    src: url('//static.bcs.ru/vacancy/web/fonts/324CBF_1_0.eot?#iefix') format('embedded-opentype'),
    url('//static.bcs.ru/vacancy/web/fonts/324CBF_1_0.woff2') format('woff2'),
    url('//static.bcs.ru/vacancy/web/fonts/324CBF_1_0.woff') format('woff'),
    url('//static.bcs.ru/vacancy/web/fonts/324CBF_1_0.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Geometria';
    src: url('//static.bcs.ru/vacancy/web/fonts/324CBF_0_0.eot');
    src: url('//static.bcs.ru/vacancy/web/fonts/324CBF_0_0.eot?#iefix') format('embedded-opentype'),
    url('//static.bcs.ru/vacancy/web/fonts/324CBF_0_0.woff2') format('woff2'),
    url('//static.bcs.ru/vacancy/web/fonts/324CBF_0_0.woff') format('woff'),
    url('//static.bcs.ru/vacancy/web/fonts/324CBF_0_0.ttf') format('truetype');
    font-weight: 500;
}
$transparent: rgba(255, 255, 255, 0);

$page-bg-color: #f2f2f2;
$primary-bg-color: #fff;
$active-slide-bg-color: #f7f7f7;

$right-column-width: 25%;

$font-color: #2b2b51;
$font-inverse-color: #fff;
$sub-font-color: #ababab;

$backdrop-bg-color: rgba($font-color, .3);

$category-tech-color: #0073f0;
$category-commerce-color: #e200f0;
$category-currency-color: #4ed669;

$active-description-arrow-size: 8px;
$nav-btn-width: 45px;
$slider-padding-top: 40px;
$default-border-radius: 5px;

@mixin spaced-font {
    font-size: .7857em;//11:14
    letter-spacing: 2px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: $primary-bg-color;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: darken($primary-bg-color, 15%);
    }
}

@mixin transition($obj, $time, $timing-func){
    transition-property: $obj;
    transition-duration: $time;
    transition-timing-function: $timing-func;
}

@mixin btn-outline($color) {
    border: 2px solid $color;
    &:hover {
        border-color: rgba($color, .2);
        background-color: rgba($color, .1);
    }
}

@keyframes popupOpen {
    0% {
        transform:scale(0);
    }
    100% {
        transform:scale(1);
    }
}

@keyframes popupClose{
    0% {
        transform:scale(1);
        opacity:1;
    }
    100% {
        transform:scale(0);
        opacity:0;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: $page-bg-color;
    font: 14px/1.4 'Geometria', sans-serif;
    color: $font-color;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}
a, button {
    @include transition(all, .2s, ease-in);
}
.slider {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 320px;
    margin: $slider-padding-top auto;
    position: relative;
    border-radius: $default-border-radius;
    overflow: hidden;
}

.slider__header,
.slider__footer{
    display: flex;
    justify-content: flex-end;
    background: $primary-bg-color;
}

.slider__title,
.footer__btn {
    width: calc(25% - 8px);
    @include spaced-font;
    padding: 1.8182em;
}

.slider__title {
    margin: 0;
}

.footer__btn {
    color: $sub-font-color;
    text-align: left;
    border-top: 2px solid $page-bg-color;
    background: $transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHCAYAAADebrddAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAoElEQVQY03XOIUuDcRzE8c+zsLBiEmRNEH5g8i1sC1uw+zZMhmVfgC9Dg0G2soGC4FsQPLAJgyG+AZPlH8YDXrz7HnddkiM84Laq3vSUZIIbXA3wiDk2SWY9cI41FrgftNYPRlglWTTwEk/N/8aya8EFtjjGL+5wjSH2mFXVe3cweY5nnBw82TXwA7rex8ILxvjCtKo+/ackZ0lek5z2sz9kpzgkdcY2ZAAAAABJRU5ErkJggg==')
    no-repeat calc(100% - 2em) center;
    &:hover {
        background-color: $active-slide-bg-color;
    }
}

.footer__btn_hidden {
    display: none;
}

.slider__body {
    display: flex;
    flex: 1;
    //max-height: 600px;//2
}

.description__category {
    @include spaced-font;
    margin: 0;
}

.description__title {
    font-size: 1.7143em;//24:14
    margin: 0;
}

.title__sm {
    font-size: .5em;
    display: block;
    margin-top: .8em;
    span {
        font-weight: 400;
    }
}

.description__p {
    margin: 0;
}

.slider__controls {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slider__control {
    margin: 0 .5em;
    font-size: 6px;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    display: inline-block;
    background-color: $sub-font-color;
    transition: .5s transform ease-in, 1s background-color ease-in;
    will-change: transform, background-color;
}

.slider__control_active {
    background-color: $font-color;
    transform: scale(1.333);
}

.slider__btn_prev,
.slider__btn_next{
    position: absolute;
    top: 0;
    bottom: 2em;
    background-color: rgba($primary-bg-color, .1);
    background-position: center;
    background-repeat: no-repeat;
    width: $nav-btn-width - 5px;
    display: none;
    &:hover {
        background-color: rgba($font-color, .1);
    }
}

.slider__btn_prev {
    left: 0;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALCAYAAACzkJeoAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAdklEQVQY033QMQrCUBBF0b+DrCEQSCFEsLcQCwU3lg1ZKKTJVhQUsQ1odSz8wc8UvvbeGd5MSiFY4ogqggUevjmXoMU9gwmbGTS4ZvDCbgY1Lhm8cSjXjX7pY4kmTO6j0OJWlNn+O2PCOgodnlk4xQclrDCg+gB0+a3tDZHzdwAAAABJRU5ErkJggg==');
    border-radius: 0 $default-border-radius $default-border-radius 0;
}

.slider__btn_next {
    right: 0;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALCAYAAACzkJeoAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAcklEQVQY013QMQrCYBCE0dwgZxAEC0HBPiAIIuRiuZBFIJVXMaBoLWj1LPwxm512vl1mpkKNM7ZVFno/PbDO5h6vAtyxysAR7wKMWGagxacAVywy0Jl0icYpXE6vcQihbv9QaIIxrxN6PrHJIWoM2OWBvnN2relHL+zVAAAAAElFTkSuQmCC');
    border-radius: $default-border-radius 0 0 $default-border-radius;
}

.slider__popup {
    display: none;
    animation: popupClose 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $backdrop-bg-color;
    .slider__preview_active {
        width: calc(100% - 20px);
        margin: $slider-padding-top auto;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        padding: 0;
    }
    .preview__img {
        height: 60vw;
    }
    .preview__description {
        padding: 1.7em 1.7em 3.6em;
        text-align: center;
        display: block;
        color: $font-color;
        background-color: $primary-bg-color;
        border-radius: 0 0 $default-border-radius $default-border-radius;
    }
    .description__title {
        font-size: 1.7143em;//24:14
    }
    .preview__btn_more {
        @include btn-outline($font-color);
    }
}

.popup__btn_close {
    position: absolute;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAB00lEQVRIx6WWz2oUQRDGvxFcLx6zQhKZnUMQ0afwBbwo5M8rKIQQksC+jqshG/UcT/oOG6+KsCeP5pJgdn8e/IbpHbtnZteGhemvqr6qruqu2kwNC8gl7Ul6JumJpL6k35Kmkn5I+iLpLMuy71pmATnwDrilfc2sm3clfw78svENcAbsAgXQA+4Dj42NrQNwBey2ke87IoCPwFaHgLaAD7aZAwcpxW0r3ALHS+X0r/2xbefAdiznV45iafKakzJdeSh4a8H5quQB17m5Tktg4LzfAA9ryuvAEFiLEK1Ztl7DN801AwYCTuxxFCEZWjYB+gHeNwYwjNi9sexEwIU3LyOKfeDS8kvv/8Eidi8svxAw9WaQyGmdMPx+kLAZWGcq4Nqbew2FC50kIw/0e+VDvRPgvbYLkvhusapS9Kgh+kkkRZPUKeop+tRS5JB8pSJ3uaYLRDUnrde0aHhoGx0e2kYN3/TFmQFFCZ7a47hz8dI1HS+0CoNhszv6D/KjaLOzcIeqXb9egfwVVbveSSntUw2c93QfOGUHnQOHbQb1kTnytSuAu/4VxkYsjsy9rsfNXfjyNE1rZt3o0M/aHKn62/JUUtncfkr6KumzpHGWZd9SHH8Aq8GjoTclI/8AAAAASUVORK5CYII=')
    no-repeat center/cover;
    width: 1em;
    height: 1em;
    font-size: 24px;
    opacity: .5;
    top: 1em;
    right: 1em;
    z-index: 1;
    &:hover {
        opacity: 1;
    }
}

.popup-opened {
    overflow: hidden;
    .slider__btn_prev, .slider__btn_next {
        display: none;
    }
    .slider__popup {
        display: block;
        animation: popupOpen 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
}


@import "components/preview.scss";
@import "components/posts";

@import "components/media1023.scss";