<div class="slider__posts">
    <div class="slider__post description">
        <h4 class="post__category description__category category_tech"><span>Теханализ</span></h4>
        <h3 class="post__title description__title">Toyota Motor</h3>
        <p class="post__p description__p">Toyota ожидает рекордная прибыль в этом году</p>
    </div>
    <div class="slider__post description">
        <h4 class="post__category description__category category_currency"><span>Валюта</span></h4>
        <h3 class="post__title description__title">Starbucks(Спб)</h3>
        <p class="post__p description__p">Ещё раз о любви. <br>К чаю и кофе</p>
    </div>
    <div class="slider__post description">
        <h4 class="post__category description__category category_commerce"><span>Торговля</span></h4>
        <h3 class="post__title description__title">Портфель ИИС</h3>
        <p class="post__p description__p">Lorem ipsum dolor sit amet, <br>consectetur adipiscing</p>
    </div>
    <div class="slider__post description">
        <h4 class="post__category description__category category_tech"><span>категория, слишком длинное название которой пришло в голову кому-то</span></h4>
        <h3 class="post__title description__title">Lorem ipsum dolor sit amet, consectetur</h3>
        <p class="post__p description__p">Neque porro quisquam est qui <br> dolorem ipsum quia dolor sit amet,<br> consectetur, adipisci velit...</p>
    </div>
</div>